h1 {
  color: blue;
}

  .square {

    width: 50%;
    height: 350px;
    text-align: center;
    opacity: 0.7;
  }

#pink {
  background-color: #FF377B;
}

#green {
  background-color: #7DE522;
}

/* This is a comment */
