@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

body {
  background-color: #FFF;
  margin: 0;
  font-family: 'serif', sans-serif;
  font-size: 1.25em;
}
a {
  text-decoration: none;
}

.sidebar {
  background-color: #003;
    width: 120px;
    padding: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.site-logo {
  background-color: transparent;
    width: 150px;
    height: 150px;
    margin: 0px auto 50px;
}
.site-logo:hover {
  background-color: #999;
}
.site-logo #logo {
  width: 140px;
  height: 140px;

    margin: 5px;
}

#site-navigation a {
  color: #FFF;
  display: block;
  margin: 0.5em 0;
}
#site-navigation a:hover {
  text-indent: 0.5em;
}

.main-content {
  border-color: inherit;
  margin-left: 300px;
  padding: 50px;
}

.banner img {
  width: 70%;
  height: auto;
}
