
h1
{
  color: white;
}

h2
{
  color: white;
}

body {
  background:Green;
  color: white;
    margin: 0;
    font-family: 'serif', sans-serif;
    font-size: 1.25em;
}

.text {
  background-color: white;
  color: Black;
  padding: 5px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

#site-navigation a {
  color: #FFF;
  display: block;
  margin: 0.5em 0;
}
#site-navigation a:hover {
  text-indent: 0.5em;
}

.site-logo #logo {
  width: 140px;
  height: 140px;
    margin: 5px;
}
